# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# Environment / Local settings
.env
.venv
env/
venv/
ENV/
cache/
logs/

# OS specific
.DS_Store
Thumbs.db
